@font-face {
    font-family: "MyriadPro";
    src: url("../fonts/MyriadPro-Regular.eot");
    src: url("../MyriadPro-Regular.eot?#iefix") format('embedded-opentype'), 
         url("../fonts/MyriadPro-Regular.woff"),
         url("../fonts/MyriadPro-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Gotham";
    src: url("../fonts/Gotham-Bold.woff2");
    src: url("../fonts/Gotham-Bold.woff"),
         url("../fonts/Gotham-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Gotham";
    src: url("../fonts/Gotham-Medium.woff2");
    src: url("../fonts/Gotham-Medium.woff"),
         url("../fonts/Gotham-Medium.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Gotham";
    src: url("../fonts/Gotham-Light.woff2");
    src: url("../fonts/Gotham-Light.woff"),
         url("../fonts/Gotham-Light.ttf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "RobotoCondensed";
    src: url("../fonts/RobotoCondensed-Bold.woff2");
    src: url("../fonts/RobotoCondensed-Bold.woff"),
         url("../fonts/RobotoCondensed-Bold.ttf");
    font-weight: normal;
    font-style: normal;
}