//====================================================================================================

//====================================================================================================

//Burger
.icon-menu {
	display: none;
	@media (max-width: $md2+px) {
		display: block;
		position: absolute;
		top: 24px;
		right: 30px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #fff;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
			
		}
	}
}

//=====================================================================================================================================================================================================================================

.header {
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	align-items: center;
	width: 100%;
	height: 115px;
	font-size: 12px;
	border-bottom: 1px solid #7c7b7a;
	// .header__content
	@media (max-width: 992px) {
		height: 70px;
	}
	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex: 1 1 auto;
		height: 100%;
	}
}
.logo {
	position: relative;
	display: flex;
	flex: 0 0 67px;
	width: 67px;
	height: 67px;
	z-index: 22;
	@media (max-width: 992px) {
		width: 35px;
		height: 35px;
		flex: 0 0 35px;
	}
	&__img {
		position: relative;
		z-index: 2;
		@media (max-width: 992px) {
			width: 35px;
			height: 35px;
			flex: 0 0 35px;
		}
	}
	&::after {
		content: "";
		position: absolute;
		left: 12px;
		top: 8px;
		height: inherit;
		width: inherit;
		background: #7c7b7a;
		z-index: 1;
	}
}
.header-menu {
	// .menu__list
	height: 100%;
	@media (max-width: 992px) {
		width: 100%;
		position: absolute;
		left: -100%;
		top: 0;
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 40px;
		transition: all 0.6s ease;
		&::before {
			content: "";
			left: 0;
			top: 0;
			background: #11749eb4;
			width: 100%;
			height: 100vh;
			z-index: 2;
			position: absolute;
		}
	}
	&._active {
		left: 0;
		transition: all 0.6s ease;
	}
	&__list {
		display: flex;
		align-items: center;
		height: 100%;
		@media (max-width: 992px) {
			display: block;
			margin: 70px 0px 0px 0px;
			z-index: 2;
			position: relative;
		}
		> li {
			padding: 0px 46px 0px 0px;
			@media (min-width: 992px) and (max-width: 1100px) {
				padding: 0px 30px 0px 0px;
			}
			height: 100%;
			display: flex;

			&:last-child {
				padding: 0px 0px 0px 0px;
			}
		}
	}

	// .menu__link

	&__link {
		font-family: "MyriadPro";
		font-size: 20px;
		line-height: 1.2;
		font-weight: 400;
		color: #ffffff;
		position: relative;
		height: 100%;
		display: flex;
		align-items: center;
		&:hover {
			position: relative;
			&::after {
				content: "";
				position: absolute;
				width: 100%;
				height: 6px;
				background-color: #11749e;
				bottom: 0;
				left: 0;
			}
		}
	}
}
.icons {
	// .icons__list
	@media (max-width: 992px) {
		display: none;
	}
	&__list {
		display: flex;
		> li {
			margin: 0px 20px 0px 0px;
		}
	}

	// .icons__link

	&__link {
		img {
			width: 20px;
		}
	}
}
