//====================================================================================================
.fisrt-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 auto;
    height: 100vh;
    position: relative;
    padding: 0px 0px 109px 0px;

    // .fisrt-block__img
    &__img {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: -100;
    }
    > img {
        height: 100%;
        width: 100%;
    }
    // .fisrt-block__header

    &__header {
    }

    // .fisrt-block__center

    &__center {
        display: flex;
        flex-direction: column;
    }

    // .fisrt-block__title

    &__title {
        font-family: Gotham;
        @include adaptiv-font(152, 50);
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: -0.05em;
        color: #f5f5f5;
    }

    // .fisrt-block__scroll

    &__scroll {
    }
    // .fisrt-block__subtitle

    &__subtitle {
        font-family: Gotham;
        font-size: 24.8px;
        line-height: 51px;
        text-transform: uppercase;
        letter-spacing: 0.74em;
        color: #11749e;
    }
}
//====================================================================================================

.scroll {
    // .scroll__title
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &__title {
        font-size: 13px;
        line-height: 22px;
        font-weight: 400;
        color: #ffffff;
        padding: 0px 0px 22px 0px;
    }

    // .scroll__block

    &__block {
        width: 65px;
        height: 65px;
        border-radius: 50%;
        border: 2px solid #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
//====================================================================================================

.page {
    display: block;
    // .page__informations-block

    &__informations-block {
    }
}
.informations-block {
    padding: 172px 0px 70px 0px;
    text-align: center;
    background-color: #11749e;
    // .informations-block__title

    &__title {
    }

    // .informations-block__cards

    &__cards {
    }
}
.title {
    // .title__text

    &__text {
        font-family: Gotham;
        font-size: 37.6px;
        line-height: 45px;
        text-transform: uppercase;
        color: #222222;
        position: relative;
        padding: 0px 0px 144px 0px;
        &::after {
            content: "W";
            position: absolute;
            top: -72px;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.18;
            font-family: "RobotoCondensed";
            font-size: 247.2px;
            line-height: 210px;
            font-weight: 700;
            color: #ffffff;
        }
        // .title__text_white

        &_white {
            color: #ffffff;
        }
    }
}
.cards {
    // .cards__img
    display: flex;
    margin: 0px -20px;
    padding: 0px 0px 57px 0px;
    // .cards__item

    &__item {
        padding: 0px 20px;
        flex: 0 0 25%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 133px;
        height: 133px;
        background-color: #2e85aa;
        margin: 0px 0px 17px 0px;
    }

    // .cards__title

    &__title {
        font-family: Gotham;
        font-size: 18px;
        line-height: 36px;
        text-transform: uppercase;
        font-weight: normal;
        color: #ffffff;
        text-align: center;
        padding: 0px 0px 23px 0px;
    }

    // .cards__text

    &__text {
        text-align: center;
        font-family: Gotham;
        font-size: 15px;
        line-height: 24px;
        font-weight: 400;
        color: #ffffff;
    }
}
